/* /static/css/styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

section {
    background-color: #0066ff;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 1rem;
    text-align: center;
}

.btn {
    background-color: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
}

#phone-case-customization {
    margin-top: 1rem;
}

#phone-case-preview {
    position: relative;
    width: 300px;
    height: 600px;
    margin: 0 auto;
    border: 1px solid #ccc;
    background-image: url(/img/a7c516a342184f85a66f270ab3bdca5a-removebg-preview.png);
}

#phone-case-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}